<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>DeshBoard-CheapBank</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{homePageFiles/deshboardPages.css}" rel="stylesheet">
</head>
<body>
	<!-- ZONA DE BUTOANE PRINCIPALE DE PE PAGINA -->
	<div class="buttonZone">
		<div class="homeDeshButtton">
			<form th:action="@{/deshboard}" method="get">
				<input class="imageButton" type="image" alt="bankLogo"
					src="images/bankLogo.png">
			</form>
		</div>
		<div
			style="margin-left: auto; margin-right: 1rem; align-items: baseline;">
			<form th:action="@{/profil}" method="get">
				<input type="submit" value="&#128100;Profil">
			</form>
		</div>
		<div>
			<form th:action="@{/logOut}" method="get">
				<input type="submit" value="Logout">
			</form>
		</div>
	</div>

	<!-- ZONA DE CONTENT A DESHBORDULUI -->
	<div style="display: flex; margin: 1rem; height: 85%">
		<div class="infoLeft">
			<div class="interior_aspect_child" id="userName">
				<p class="p_userName" >Utilizator:</p>
				<span class="span_userName" th:text="${info_name}"></span>

			</div>
			<div class="interior_aspect_child"
				style="width: auto; height: 70%; overflow-x: scroll !important; overflow-y: scroll; white-space: nowrap;">
				<p style="text-align: center;">Transaction history:</p>
				<!-- LISTAREA TRANZACTIILOR -->
				<div>
					<p th:each="list : ${listTransaction}">
						&#128184;<span th:text="${list}"></span>
					</p>
				</div>
			</div>
		</div>
		<!-- PROBLEMA: INALTIMEA DIVURILE NU SUNT LIPITE DE DIVUL DIN CARE FAC PARTE -->
		<div class="infoMid">
			<div class="interior_aspect_child">
				Balance: <span th:text="${info_sold}"></span> $
			</div>
			<div>
				<p class="interior_aspect_child"
					style="height: auto; display: flex; justify-content: center;"
					th:text="${warning_transfer}"></p>
			</div>
			<p style="text-align: center;">Transfer</p>
			<div class="interior_aspect_child" style="height: 58%;">
				<form action="#" th:action="@{/transfer_from_deshboard}"
					th:object="${transfer}" method="post">
					<div>
						CNP: <input type="text"
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
							maxlength="13" th:field="*{transfer_toID}" />
					</div>
					<div>
						AMOUND: <input type="text"
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
							maxlength="13" th:field="*{amound_toID}" />
					</div>
					<div>
						<input type="submit" th:value="TRANSFER" />
					</div>
					<div>
						<input type="reset" th:value="RESET" />
					</div>
				</form>
			</div>
		</div>
		<div class="infoRight">
			<p class="interior_aspect_child" style="height: 10%">Last
				transfer:</p>
			<div class="interior_aspect_child"
				style="width: auto; height: 80%; overflow-x: scroll !important; overflow-y: scroll; white-space: nowrap;">
				<div>
					<p th:each="list : ${listAccounts}">
						&#128100;<span th:text="${list}"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>