<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login-CheapBank</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{homePageFiles/homePages.css}" rel="stylesheet">
<script src="homePageFiles/onlynum.js"></script>
</head>
<body>
	<!-- banner ul site ului -->
	<form class="bankLogo" th:action="@{/home}" method="get">
		<input type="image" alt="bankLogo" src="images/bankLogo.png">
	</form>
	<div class="container">
		<div class="loginZone" style="width: 35%; height: auto">
			<div style="display: flex; flex-direction: row;">
				<!-- buton de login -->
				<form action="#" th:action="@{/loginPage}" method="get"
					style="width: 35rem">
					<input type="submit" th:value="Login" class="login-button"
						style="padding: 1rem 3.5rem; border-radius: 2rem 0.5rem 0.5rem 0.5rem;">
				</form>
				<!-- buton de register -->
				<form action="#" th:action="@{/registerPage}" method="get"
					style="width: 15rem">
					<input type="submit" th:value="Register" class="register-button"
						style="border-radius: 0.5rem 2rem 0.5rem 0.5rem">
				</form>
			</div>
			<!-- mesajul de informare in cazul in care te ai inregistrat cu succes sau ceva nu a mers bine
			la introducerea informatiilor pentru logare -->
			<div class="infoMessage">
				<p th:text="${loginPageMessage}"></p>
			</div>
			<!--casetele de text pentru inputuri -->
			<div class="content">
				<form action="#" th:action="@{/inputUser}" th:object="${userLogin}"
					method="post">
					<div>
						<p>ID:</p>
						<input type="text"
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
							maxlength="13" th:field="*{userID}" />
					</div>
					<div>
						<p>Password:</p>
						<input type="password" th:field="*{passwordUser}" />
					</div>

					<div class="buttons"
						style="margin-top: 3rem;margin-bottom:3rem; height: 5rem; width: 100%">
						<input type="submit" id="loginButton" th:value="LOGIN" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>