<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login-CheapBank</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{homePageFiles/homePages.css}" rel="stylesheet">
</head>
<body>
	<div class="bankLogo">
		<a href="/home"><img alt="bankLogo" src="images/bankLogo.png"></a>
	</div>
	<div class="container">
		<div class="loginZone" style="width: 50rem; height: 30rem; flex-direction: row ">
			<form action="#" th:action="@{/loginPage}" method="get" style=" width: 35rem">
				<input type="submit" th:value="Login" class="login-button"
				style="padding: 1rem 3.5rem; 	border-radius: 2rem 0.5rem 0.5rem 0.5rem;
				">
			</form>
			<form action="#" th:action="@{/registerPage}" method="get" style=" width: 15rem ">
				<input type="submit" th:value="Register" class="register-button"
					style="border-radius: 0.5rem 2rem 0.5rem 0.5rem;">
			</form>
		</div>
	</div>
</body>
</html>