<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>DeshBoard-CheapBank</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{homePageFiles/deshboardPages.css}" rel="stylesheet">
</head>
<body>
<!-- ZONA DE BUTOANE PRINCIPALE DE PE PAGINA -->
	<div class="buttonZone">
		<div class="homeDeshButtton">
			<form th:action="@{/deshboard}" method="get">
				<input class="imageButton" type="image" alt="bankLogo"
					src="images/bankLogo.png">
			</form>
		</div>
		<div class="profile" style="margin-left: auto; margin-right: 1rem;">
			<form th:action="@{/profil}" method="get">
				<input type="image" alt="profileImage" src="images/profile.png">
			</form>
		</div>
		<div class="logout">
			<form th:action="@{/logOut}" method="get">
				<input type="image" alt="logoutImage" src="images/logout.png">
			</form>
		</div>

	</div>
</body>
</html>