* {
	margin: 0;
	padding: 0;

}

html{
	height: 100%;
	overflow: hidden;
	 font-family: "Times New Roman";
}

body {
	background-color: #22e3c7;
	height: 100%;
	width: auto;
	margin: 1rem;
}

/*ZONA DE BUTOANE DE NAVIGARE*/

.imageButton {
	width: auto;
	height: 4rem;
}

.buttonZone {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: raw;
}
.bankLogo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bankLogo input {
	width: 40%;
	height: auto;
}

/*ZONA DE CONTINUT A PAGINII*/
.content {
	width: 40%;
	background-color: #1bcfb5;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border-radius: 1rem;
	padding: 0.5rem;
}

.content .interior_aspect_child .info_account{
	flex-direction: column;
	display: flex;
	font-size: 140%;
}
.content .interior_aspect_child .info_account span{
	font-size: 120%;
	margin-left: 1rem;
	
}


.interior_aspect_child{
	background-color: #18bea6;
	margin: 0.5rem;
	padding: 0.5rem; 
	height: auto;
	border-radius: 1rem;
}

.interior_aspect_child .contentPage{
	flex-direction: column;
	font-size: 150%;
}

.interior_aspect_child .contentPage form{
	width: auto;
	height: auto;
}


.interior_aspect_child .contentPage form span input{
	background-color: #18BEA6;
	box-shadow: inset 3px -3px 0px 1px #209379;
	border-color: transparent;
	border-radius: 10px;
	font-size: 150%;
	width: 100%;
}

.interior_aspect_child .contentPage form .buttons input{
	background-color: #22e3c7;
    box-shadow: inset 2px 2px 10px #26ae8f;
    border-color: #26ae8f;
    text-align: center;
	flex-direction:row;
    height: 3rem;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 120%
}

.interior_aspect_child .contentPage form .buttons{
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	justify-content: space-between;
	width: auto;
}




.interior_aspect_child .contentPage form .buttons input[type=submit]:hover {
	background-color: #26ae8f;
}

.interior_aspect_child .contentPage form .buttons input[type=reset]:hover {
	background-color: #26ae8f;
}

.interior_aspect_child .contentPage form .buttons input[type=submit]:active {
	background-color: #1bc284;
	transform: translateY(4px);
}

.interior_aspect_child .contentPage form .buttons input[type=reset]:active {
	background-color: #ff4242;
	transform: translateY(4px);
}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #22e3c7; 
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
