/*STYLE PAGE*/
html{
	 font-family: "Times New Roman";
}

body {
	background-color: #22e3c7;
}

.container {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 1rem;
	align-content: center;
}

.loginZone {
	border-radius: 2rem;
	background-color: #1ac8ad;
	display: flex;
	justify-content: right;
	align-content: center;
	flex-direction: column;
	display: flex;
	width: 20rem;
	height: 25rem;
}

.registerZone {
	margin-left: 0.1rem;
	border-radius: 2rem;
	background-color: #1ac8ad;
	display: flex;
	justify-content: right;
	align-content: center;
	flex-direction: column;
	display: flex;
	width: 20rem;
	height: 25rem;
}

.login-button {
	border-radius: 2rem 2rem 0.5rem 0.5rem;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 1rem 3.5rem;
	width: 98.5%;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	text-align: center;
}

.login-button:hover {
	background-color: #189e18;
	color: white;
}

.login-button:active {
	background-color: #189e18;
	transform: translateY(4px);
}

.register-button {
	border-radius: 2rem 2rem 0.5rem 0.5rem;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 1rem 3.5rem;
	width: 98.5%;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	text-align: center;
}

.register-button:hover {
	background-color: #ff2424;
	color: white;
}

.register-button:active {
	background-color: #ff2424;
	transform: translateY(4px);
}

.bankLogo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bankLogo input {
	width: 40%;
	height: auto;
}
.infoMessage p{
	display: flex;
	justify-content: center;
	align-content: center;
	color: red;
	font-weight: bold;
	font-size: 1.5rem;
}

/*STYLE CONTENT*/

.content form {
	padding-left: 5rem;
	padding-right: 5rem;
}

.content div {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.content form p {
	margin: 0;
	font-size: 1.5rem;
}

.content form div input {
	background-color: #1AC8AD;
	box-shadow: inset 3px -3px 0px 1px #209379;
	border-color: transparent;
	border-radius: 10px;
	text-indent: 1rem;
	text-align: left;
	font-size: 150%;
	padding-left: 1rem;
}


.content form .buttons input{
	background-color: #22e3c7;
    border-radius: 1rem;
    box-shadow: inset 2px 2px 10px #26ae8f;
    border-color: #26ae8f;
    text-align: center;
    font-size: 150%;
    height: 3rem;
}

.content form .buttons input:hover {
	background-color: #26ae8f;
}

.content form .buttons input:active {
	background-color: #ff4242;
	transform: translateY(4px);
}