<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ATM-Login-CheapBank</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{atm/atm.css}" rel="stylesheet">
<link th:href="@{atm/atmlogin.css}" rel="stylesheet">
</head>
<body>
	<!-- ZONA DE BUTOANE PRINCIPALE DE PE PAGINA -->
	<form class="bankLogo" th:action="@{/atm}" method="get">
		<input style="width: 20%" type="image" alt="bankLogo"
			src="images/bankLogo.png">
	</form>
	<!-- ZONA DE CONTENT A DESHBORDULUI -->
	<div class="container">
		<div class="loginZone" style="width: 35%; height: 20rem">
			<div>
				<!-- mesajul de informare -->
				<div class="infoMessage">
					<p th:text="${loginPageMessage}"></p>
				</div>

				<!--casetele de text pentru inputuri -->
				<form action="#" th:action="@{/inputAtm}" th:object="${userLogin}"
					method="post">
					<p>
						ID: <input type="text"
							oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
							maxlength="13" th:field="*{userID}" />
					</p>
					<p>
						Password: <input type="password" th:field="*{passwordUser}" />
					</p>
					<input type="submit" id="loginButton" th:value="LOGIN" />
				</form>

			</div>
		</div>
	</div>
</body>
</html>